body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #dddddd;
}

li {
  float: left;
}

#navbutton {
  display: block;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  background-color: #dddddd;
  font-family: "Lucida Console", Helvetica, Arial;
}

li a:hover {
  background-color: #6a5acd;
}

#homebutton {
  display: block;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  background-color: #dddddd;

h1 {
  font-family: "Lucida Console", Helvetica, Arial;
}

h2 {
  font-family: "Lucida Console", Helvetica, Arial;
}

p {
  font-family: "Lucida Console", Helvetica, Arial;
}

a {
  font-family: "Lucida Console", Helvetica, Arial;
}
