body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #dddddd;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  background-color: #dddddd;
}

li a:hover {
  background-color: #6a5acd;
}

h1 {
  font-family: "Lucida Console";
}

h2 {
  font-family: "Lucida Console";
}

p {
  font-family: "Lucida Console";
}

a {
  font-family: "Lucida Console";
}
